.search-st-btn{
	background-color: #A3CE62;color:#fff !important;border-radius: 5px 0px 0px 5px !important;
	padding: 12px 12px !important;margin-right: -5px;
}
.search-btn{
	padding: 11px 12px !important;
	border-radius: 5px !important;
	/*background-color: transparent;border: none;padding: 22px;background-image: url('../images/search.png');*/
}

.typeahead{vertical-align:inherit !important;
}

.twitter-typeahead{display:inherit !important;
	float:left;
}

#search_mini_form .search-st-btn{float:left;}

.search-btn:hover{
	/*background-color: transparent;*/
}
.search-text{
	height: 43px;border-radius: 5px 5px 5px 5px !important;border: 1px solid #A3CE62 !important;
}
.search-btn{
	position:relative;
	margin-left:10px;
	background-color: #A3CE62 !important;
	border-color: #A3CE62;
}

.search-btn:after {right: 100%;
	 top: 50%;
	 border: solid transparent; 
	 content: " ";
	 height: 0; 
	 width: 0; 
	 position: absolute; 
	 pointer-events: none; 
	 border-color: rgba(104, 140, 163, 0); 
	 border-right-color: #A3CE62; 
	 border-width: 9px; 
	 margin-top: -9px;

}

.no-padding{
	padding:0px;
}

.search-text {
	margin: 0;
	width: 470px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 45px !important;
	color: #333;
	border: 1px solid #F5F5F5;
	padding: 0 10px;
	background: #fff !important;
	outline: none;
}

/*Footer Open*/
.footer-main{
	background-image:url('../images/bg.jpg');
	margin-top: 90px;
	color:#fff;	
	background-size: cover;
}

.signin-btn{
	background-color: #A3CE62 !important;
	border-radius: 8px 0px 0px 8px !important;
	border: 1px solid #A3CE62 !important;
	font-size: 18px;
	padding: 8px 20px 8px 20px !important;
}
.signup-btn{
	background-color: #A3CE62 !important;
	border-radius: 0px 8px 8px 0px !important;
	border: 1px solid #A3CE62 !important;
	font-size: 18px;
	padding: 8px 15px 8px 20px !important;
}


.arrow-btn{width: 14px;	
	padding: 0px;
	margin-top: -2px;
	}
	
.get-know-footer{padding-top:60px;
	padding-bottom:40px;
}

.make-money-footer{padding-top:120px;
	padding-bottom:50px;
}

.social-footer{padding-bottom:50px;
}

.let-us-footer{padding-bottom:0;
}
/*Footer Close*/


.item-info {
color: #a3cf62;
font-size: 12px;
}
.seller-name {

font-size: 15px;
}

/*Slider*/
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.buynow-btn{
	background-color:#7EC674 !important;
	border-radius:8px !important;
	border:1px solid #7EC674 !important;
	font-size: 18px;
	padding: 8px 20px 8px 20px;
}

.product-title{
	background-color:#000;
	opacity:0.7;
	padding:20px;
	margin-bottom:25px !important;
}
.glyphicon-chevron-left {
	padding: 12px 46px 40px 12px;
	background-color: #50514C;
}
.glyphicon-chevron-right {
	padding: 12px 46px 40px 12px;
	background-color: #50514C;
}
.mirrored{
		display:none !important;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-caption {
right: 30% !important;
left: 30% !important;;
padding-bottom: 30px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}

.glyphicon-chevron-left:before {
font-family: 'FontAwesome';
font-style: normal;
font-weight: normal;
speak: none;
-webkit-font-smoothing: antialiased;
content: "\f104";
text-transform: none;
font-size: 34px;
padding: 16px 10px;
/* line-height: 30px; */
top: -6px;
position: relative;
}
.glyphicon-chevron-right:before {
font-family: 'FontAwesome';
font-style: normal;
font-weight: normal;
speak: none;
-webkit-font-smoothing: antialiased;

text-transform: none;
font-size: 34px;
padding: 16px 10px;
/* line-height: 30px; */
top: -6px;
position: relative;
}

/*home*/
.viewall a {
display: inline-block;
color: #A6CD63;
font-weight: bold;
font-size: 12px;
}
.viewall a:hover {
	text-decoration:none;
}
/**/


/*Category*/
.tree .dropdown-menu {
	position: relative !important;
	float: none !important;
	box-shadow: none !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	border-top: 0 !important;
}
.open-tree > .dropdown-menu {
	display: block;
}
.dropdown-menu-tree {
	display: none;
	margin-bottom: 20px;
}
.open-tree > .dropdown-menu-tree {
	display: block;
	padding: 0px;
}
.tree > li.active > a, .tree > li.active > a:hover, .tree > li.active > a:focus {
	background: none;
	color: #2c3e50;
}
.nav-stacked.tree > li a:hover {
	color: #2c3e50;
	font-weight: bold;
}
.tree > .active > a > .badge {
	background: #999999;
	color: #fff;
}
.category-level-2 {
	border-left: 1px solid #DDDDDD !important;
	margin-left: 13px;
	list-style-type: none;
}

.category-level-2 li {
	margin-top: 2px;
}
.category-level-2 li a {
	font-weight: normal !important;
	padding: 2px 15px;
}
.category-level-2 li a.active, .category-level-2 .dropdown-tree.active .dropdown-tree-a, .category-level-2 .open-tree .dropdown-tree-a {
	font-weight: bold !important;
}
.priceFilterBody .form-inline .form-group {
	max-width: 30%;
	float: left;
}
.priceFilterBody .form-inline .form-group .form-control {
	width:100%;
}
.priceFilterBody .sp {
	padding: 10px;
}
.subCategoryThumb {
	height: 80px;
	display: block;
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}
.subCategoryThumb img {
	max-width: 100%;
}
.subCategoryList {
	margin-top: 30px;
	overflow: hidden;
}
.color-details {
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}
.productFilter {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	clear: both;
	display: block;
	margin-bottom: 20px;
	padding-bottom: 7px;
	padding-top: 10px;
	margin-top: 20px;
}
.productFilter p {
	display: block;
	font-size: 14px;
	margin-top: 6px;
}
.change-view {
	margin-right: 10px;
}
.subCategoryTitle {
	font-size: 13px;
	color: #444;
	font-weight: 600;
}
.change-view a {
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	height: 34px;
	line-height: 23px;
	margin-left: 5px;
	overflow: hidden;
	padding: 5px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.productFilter select, .productFilter input {
	font-size: 13px;
}
.categoryFooter {
	border-top: solid 1px #eee;
	padding-top: 20px;
	margin-top: -20px;
}
.nav-stacked > li {
	border-bottom: solid 1px #eee;
}
.nav-stacked > li a {
	font-size: 13px;
	cursor:pointer;
}
.nav-stacked > li a:hover {
	color: #fff;
}
.nav-stacked > li.active a, .nav-stacked > li.active {
	background: none;
	color: #2C3E50;
	font-weight: bold;
}

.more-views .owl-theme .owl-controls .owl-buttons div.owl-prev {
	margin: 6px 0px 4px 0px !important;
}

.padding_zero{
	padding-left:0px;
	padding-right:0px;
}

.btn-cart {
	background: #A3CE62;
	color: #fff;
	font-size: 16px;
	text-shadow: none;
	
	
	margin-top: 0px;
	font-weight: normal;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	margin-left: 10px;
	border: none;
}
.btn-cart:hover {
	background: #A3CE62;
	color: #fff;
	font-size: 16px;
	text-shadow: none;
	
	
	margin-top: 0px;
	font-weight: normal;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	margin-left: 10px;
	border: none;
}

.Reviews-div{padding:0;
}

.Reviews-div  h2{
  
}

.star-crcle{padding:16px;
	border:4px solid #fdb813;
	border-radius: 50% !important;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}

.star-crcle i{font-size:68px;
	position:relative;
	color:#fdb813;
}

.rating-point{
	color: #fff;
	font-size: 14px;
	left: 35%;
	position: absolute;
	top: 49%;
	font-family: 'Open Sans Semibold';
}

.Reviews-star{padding:0;
}

.rate-div{padding:0;
}

.yellow-rate{background-color:#fdb813;
	height:15px;
	color:#fff;
	position:absolute;
}

.gary-rate{background-color:#b7bec6;
	height:15px;
	color:#fff;
	position:relative;
	width:150px;
	display:inline-block;
	float:left;
	margin-right:8px;
	font-size:12px;
}

.rate-div-inner{padding: 2px 0 3px;
}

.Reviews-star h3{font-size:17px;
	margin-top:10px;
	padding-left:10px;
}

.write-btn{
	border-color:#7bc470;
	transition:ease-in-out all .2s;
}

.write-btn-p{padding:30px 0 0;
}

.view-btn{background-color:#fff;
	border:2px solid #7bc470;
	color:#7bc470;
	transition:ease-in-out all .2s;
}

.view-btn-p{padding:58px 0 0;
}

/*Success */

isa_info, .isa_success, .isa_warning, .isa_error {
 margin: 0px 0px;
 padding:0px;
 }
 .isa_info {
  color: #00529B;
  background-color: #BDE5F8;
 }
 .isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
 }
 .isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
 }
 .isa_error {
  color: #D8000C;
  background-color: #FFBABA;
 }
 .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:5px 10px;
  font-size:2em;
  vertical-align:middle;
 }
 
 
 /* =============================================================== */
/*  CHECKOUT PAGE START
/* =============================================================== */

.orderStep {
	clear: both;
	display: inline-block;
	height: auto;
	padding: 0;
	margin-bottom: 30px;
	width: 100%;
}
.orderStep li {
	display: inline-block;
	float: left;
	height: auto;
	margin: 0;
	min-height: 55px;
	padding: 0;
	width: 20%;
}
.orderStep li.active a {
	color: #fff;
}
.orderStep li.active a {
	position: relative;
}
.orderStep li.active a:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 10px;
	margin-left: -10px;
}
.orderStep li a {
	background: #EFF0F2;
	display: inline-block;
	font-size: 14px;
	height: 100%;
	line-height: normal;
	padding: 20px 0 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
}
.orderStep li a i {
	background: rgba(0, 0, 0, 0.05);
}
.orderStep li.active a i {
	background: rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
}
.orderStep li a i {
	border-radius: 0;
	display: block;
	font-size: 20px;
	height: auto;
	left: 0;
	line-height: 40px;
	margin-top: -20px;
	padding: 0;
	text-align: center;
	width: auto;
	float: none !important;
}
.orderStep li a span {
	display: block;
	padding: 5px 0;
}
.orderStep li.active a {
	background: none repeat scroll 0 0 #1ABC9C;
}
.orderStep li.active a:after {
	border-top-color: #1ABC9C !important;
}
.orderStep li a {
	background:  #EFF0F2;
}
.panel-default > .panel-heading {
border-top: 4px solid #A3CE62;
}



/***************css strat kishan **********************/

.footer-logo img{width:100%;
}

.footer-logo img{width:100%;
}

.form-grp-custom{display:inline-block;
	width:100%;
}

.form-grp-custom label{line-height:28px;
}

.box-account{ background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #eaeaea;
	padding:25px;
	display:inline-block;
	width:100%;
}

.account-input{border-radius:0;
}

.account-input:focus{box-shadow:none;
	border:1px solid #A3CE62;
}

.btn-savchange{background-color:#A3CE62;
	border:1px solid #A3CE62;
	border-radius:0;
}

.page-sub-title{font-size:15px  !important;
	margin-bottom:0;
}

.custom-navtabs{border-bottom:2px solid #EB5467;
	width:100%;
}

.dashboard{display:inline-block;
	width:100%;
}

.custom-navtabs > li.active > a, .custom-navtabs > li.active > a:hover, .custom-navtabs > li.active > a:focus{background-color:#EB5467 !important;
	color:#fff;
	border-radius:0;
	margin-right:0;
	border-bottom:2px solid #EB5467;
}

.custom-navtabs > li > a{margin-right:0;
}

.custom-navtabs > li.active, .custom-navtabs > li > a:hover, .custom-navtabs > li > a:focus, .custom-navtabs > li:hover > a {
    border-right:1px solid #27ae60;
	background-color:#EB5467 !important;
	border-radius:0;
	color:#fff;
}

a{outline:none !important;
}

.pd{padding:0;
}

.product_review_left h3{margin-top:0;
	font-size:20px;
}

.product_review_right{margin-bottom:30px;
}

.reviewman-div{padding-top:10px;
}

.item-div a{color:#A3CE62;
}

.review_edit{color:#A3CE62;
}

.review_delete{color:#CD3649;
}

#SellerReviews h3{font-size:20px !important;
}
.registered-users{
	
	padding-bottom: 0;
	padding: 0 0 0 55px;
	text-align: left;
	margin:0 auto; 
	background: #fff;
	padding: 10px 45px 45px 45px;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: 1px 1px 13px -1px rgba(221,221,221,1);
	-moz-box-shadow: 1px 1px 13px -1px rgba(221,221,221,1);
	box-shadow: 1px 1px 13px -1px rgba(221,221,221,1);
}
.registered-users h2{
	color: #78ce7b;
}
.new-users{	
	padding-bottom: 0;
	padding: 0 0 0 55px;
	text-align: left;
	margin:0 auto; 
	background: #fff;
	padding: 45px;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: 1px 1px 13px -1px rgba(221,221,221,1);
	-moz-box-shadow: 1px 1px 13px -1px rgba(221,221,221,1);
	box-shadow: 1px 1px 13px -1px rgba(221,221,221,1);
}
.form-list select {
	margin: 7px 0 2px;
	width: 100%;
	outline: none;
	border:none !important;
	border-radius:0px !important;
	height:39px;
}
.help-block{
	text-align:center;
	font-size:10px;
}
.typeahead, .tt-query, .tt-hint {
	
}
.typeahead {
	
}
.typeahead:focus {
	
}
.tt-query {
	
}
.tt-hint {
	
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 364px;
}
.tt-suggestion {
	font-size: 14px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #A3CE62;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

a.button.btn-proceed-checkout {
	background: #A3CE62;
	padding: 24px 78px;
	color: #fff;
	width: 100%;
	text-decoration:none;
}
a.button.btn-proceed-checkout:hover {
	background: #333;
	color: #fff;
	border: 1px #000 solid;
}
a.button.btn-proceed-checkout:before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 20px;
	padding-right: 5px;
}
a.button.btn-proceed-checkout span {
	font-size: 17px;
	font-weight: normal;
}
.tt-hint{
	color:#fff !important;
}

.products-slider{width:100%;
}

.btn_red{
	margin-left: 0px;padding-top: 6px;font-size: 12px;padding-bottom: 6px;
}

.btn_red:hover{
text-decoration:none;
	margin-left: 0px;padding-top: 6px;font-size: 12px;padding-bottom: 6px;
}


.checkbox1 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox1 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #C82536;
	border:1px solid #C82536;
} 
.checkbox1 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox1 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox2 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox2 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #33A1DE;
	border:1px solid #33A1DE;
} 
.checkbox2 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox2 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox3 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox3 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #fff;
	border:1px solid #ddd;
} 
.checkbox3 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #000;
	/*border: 3px solid #fff;*/
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox3 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox4 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox4 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #000;
	border:1px solid #000;
} 
.checkbox4 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox4 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox5 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox5 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #043E84;
	border:1px solid #043E84;
} 
.checkbox5 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox5 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox6 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox6 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #00AF33;
	border:1px solid #00AF33;
} 
.checkbox6 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox6 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox7 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox7 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #5C3317;
	border:1px solid #5C3317;
} 
.checkbox7 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox7 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox8 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox8 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #FFE600;
	border:1px solid #FFE600;
} 
.checkbox8 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox8 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox9 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox9 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #EE6AA7;
	border:1px solid #EE6AA7;
} 
.checkbox9 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox9 input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkbox10 {
	position: relative;
	padding-bottom: 12px;
	width: 30px;
	float: left;
}
.checkbox10 label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #787878;
	border:1px solid #787878;
} 
.checkbox10 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox10 input[type=checkbox]:checked + label:after {
	opacity: 1;
}
input[type=radio], input[type=checkbox] {
margin: 3px 8px 0;
margin-top: 1px \9;
line-height: normal;
}
.checklabel{
	color:#AAAAAA;
}
.color-filter small {
	border: 1px solid #DDDDDD;
	display: inline-block;
	height: 14px;
	margin: 0 3px 0 1px;
	width: 14px;
}
.nav-inner{
	/*z-index:0;*/ 
}

.product-features-list{padding-left:26px;
	padding-top:8px;
	font-size:12px;
}

.data-table th{text-transform:uppercase;
}

.data-table thead tr, .data-table tfoot tr{background-color: #eeeeee;
}

.data-table thead th, .data-table thead td, .data-table tfoot th, .data-table tfoot td, .cart .totals table th, .cart .totals table td{border-bottom:0;
	border-top:0;
}

#sort-by{margin:10px 0;
}

.new-users h2{
	color:#78ce7b;
}
.account-login .form-list input.input-text {
	background: #f7f7f7 !important;
	
}
.form-list select{
	background: #f7f7f7 !important;
}
.form-list select:focus{
	background: #fff !important;
	border:1px solid  #78ce7b !important;
	box-shadow:none !important;
}
.new-users {
	padding: 10px 45px 45px 45px;
}

.account-login .form-list input.input-text:focus {
background: #fff !important; border:1px solid #78ce7b;
}

header {
  width: 100%;  
  overflow:visible;
  top: 0;
  left: 0;
  z-index: 999; 
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
 
  
    
header.smaller {
    height: 80px; border-bottom:3px solid #EB5467;
	background-color:#fff;
}
	
header.smaller .logo a img {
      width: 150px;
}
header.smaller .toplinks {
      display:none;
}
header.smaller .mini-cart .basket a{
	line-height: 52px !important;
}
header.smaller .badge{
	top: 15px;
	position: absolute;
}
.parter{
	padding-top: 6px;
	position: relative;
	left: -70px;
}

.parter a img{
display:inline-block;width: 37%; 	
}

header.smaller .parter{
	left: -105px;
}
header.smaller .search-box{
	margin-top:10px;
}

.badge.bg-success {
background: #F65D6F;
}
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F65D6F !important;
	border-radius: 10px !important;
	top: 24px;
	position: absolute;
	left: 51px;
}
.search-box{
	margin-top:0px;
}

.anchor_btn span{
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
.anchor_btn {
	padding:10px 20px; !important;
}

.register span{
	font-size:16px !important;
}
.login span{
	font-size:16px !important;
}

.details-order-tables{margin-bottom:25px;
}

.details-order-tables tbody tr td:first-child{border-right:1px solid #ccc;
	width:30%;
}

.color-block-element small{margin-bottom:-2px;
}

.color-block-element{margin-right:20px;
}

.check_avl {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  margin: 0 0 10px;
  padding: 6px 0px 15px;
  width: 100%;
}

@media only screen and (max-width : 1024px) {
	.add-to-box .btn-cart{margin-right:12px;}
	.rate-middle-div .write-btn-p{padding:0;}
	.rate-middle-div .write-btn-p .btn-cart{margin-left:0;}
	.rate-middle-div .view-btn-p{padding:0;}
	.rate-middle-div .view-btn-p .btn-cart{margin-left:0;}
	#my-orders-table .btn-cart{margin-left:0;}
}

@media only screen and (max-width : 640px) {	
	.star-crcle{margin:0 auto;}
	.rate-middle-div{text-align:center;}
	.col-item .item-title a{font-size:10px;}
	.registered-users{width:100%;}
}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
	#search_mini_form .search-text{float:left; width:328px;}	
	.search-box{width:100%; margin-top:5px;}	
	#search_mini_form .search-btn {text-align:right;}
	#search_mini_form .search-st-btn{float:left;}
	.Reviews-star .rate-div{padding-left:0;}
	.rate-div-inner .gary-rate{width:105px;}	
}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.search-box{width:100%; margin-top:0; margin-bottom:5px;}
	#search_mini_form .search-st-btn{float:left;}
	#search_mini_form .search-text{float:left;}	
	#search_mini_form .search-btn {text-align:right;}
	.toplinks{padding:5px 0;}
	.logo{text-align:center; padding-bottom:0;}	
	.searchmain-div{width:100%;}
	.Reviews-star .rate-div{padding-left:10px;}
	.rate-div-inner .gary-rate{width:100px;}	
}


@media only screen and (min-width : 360px) and (max-width : 640px) and (orientation : landscape) { 
	.logo{ padding-left: 23% !important;}
	.rate-div .rates-div{display:inline-block; margin-left:37%;}
}


@media only screen and (min-width : 360px) and (max-width : 640px) and (orientation : portrait){
	.rate-div .rates-div{display:inline-block; margin-left:26%;}
}


@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) {.logo{ padding-left: 16% !important;}
	#search_mini_form .search-text { width: 300px !important;}
	.rate-div .rates-div{display:inline-block; margin-left:32%;}
}

@media only screen and (max-width : 320px){
	.rate-div .rates-div{display:inline-block; margin-left:22%;}
}


@media only screen and (max-width: 768px){
   .toplinks{padding:0 !important; margin-bottom:5px;}
}


@media only screen and (max-width : 640px) {
	.search-box{width:100% !important; margin-top:0; margin-bottom:5px;}
	#search_mini_form .search-st-btn{float:left;}
	#search_mini_form .search-text{width:100% ; float:left;}	
	#search_mini_form .search-btn {text-align:right;}
	.toplinks{padding:5px 0;}
	.logo{text-align:center !important; padding-bottom:0;}
	.glyphicon-chevron-left{padding:4px 2px 0 2px !important;}
	.glyphicon-chevron-right{padding:5px 5px 0 5px !important; }
	.glyphicon-chevron-left:before{font-size:22px; top:-3px;}
	.glyphicon-chevron-right:before{font-size:22px; top:-3px;}
	.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{top:30%;}
	.carousel-control .glyphicon-chevron-left{left:10px !important;}
	.sidebar {padding-left:0;}
	.main-account-div{padding-right:0;}
}


@media only screen and (width : 240px) {
	.nav-inner{width:100%;}
	.logo img{width:100%;}
}



/*************css end kishan********************/