
.focusBtn, .focusIndicators a{ display:block; background:url(../images/script.png); background-repeat:no-repeat;}
.focusMain{ width:100%; position:relative; margin:0 auto;}
.focusArea{ width:100%; margin:0 auto 15px; position:relative; overflow:hidden;}
.focusCon{ width:100%; position:absolute; top:0;}
.focusItem{ position:relative; margin:0 4px; padding:1px; border:1px solid #666; background:#DDDEDE;}
.focusCon .title{ height:26px; position:absolute; left:1px; bottom:1px; background:#000; opacity:.8; filter:Alpha(opacity=80); line-height:26px; font-size:14px; font-weight:400; overflow: hidden;}
.focusCon .title a{ display:block; padding:0 10px; color:#FFF; position:relative;}
.focusIndicators{ font-size:0;  text-align:center;}
.focusIndicators a{ display:inline-block;  margin:0; font-size:0; cursor:pointer;}
.focusIndicators .current{ }

.focusIndicators a{position:relative;
	padding:20px;
	line-height:15px;
	border:2px solid #686868 !important;
	background:#474747 !important;
}

.focusIndicators a.current:before, .focusIndicators a:hover:before, .focusIndicators a:focus:before{content: "";
    border-color: transparent #111;
    border-style: solid;
    border-bottom:8px solid #ececec;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    display: block;
    height: 0;
    width: 0;
    left: 0;
	right:0;
    top: -12px;
    position: absolute;
	margin:0 auto;
}

.focusIndicators a.current:after, .focusIndicators a:hover:after, .focusIndicators a:focus:after{content: "";
    border-color: transparent #111;
    border-style: solid;
    border-bottom:8px solid #fff;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    display: block;
    height: 0;
    width: 0;
    left: 0px;
	right:0;
    top: -10px;
    position: absolute;
	margin:0 auto;
}

.focusIndicators a.current , .focusIndicators a:hover{color:#424242 !important;
	background: #ffffff !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	border-bottom:3px solid #82c36f !important;
	border-top:1px solid #ececec !important;
}



.focusBtn{ display:block; position:absolute; top:50%; width:24px; height:49px; margin-top:-25px; background-color:#606060; cursor:pointer;}
.focusPrev{ left:0; background-position:0 0;}
.focusNext{ right:0; background-position:-30px 0;}
.focusPrev:hover, .focusNext:hover{ background-color:#333;}
.focusItem img, .focusIndicators img{ width:100%; height:100%;}

/* = 轮播和焦点图区分
-------------------------------------------------------------- */
.isCarousel .focusArea{ height:130px;}
.isCarousel .focusItem{ float:left; width:186px; height:126px; _display:inline;}
.isCarousel .focusCon .title{ width:186px;}
.isCarousel .focusGroup{ float:left; _display:inline;}

.isFocus .focusArea{ height:330px;}
.isFocus .focusItem{ width:100%; height:auto;}
.isFocus .focusCon .title{ width:100%;}


-------------------------------------------------------------- */
.demoB .focusCon .title{ bottom:-27px;}

.demoD .focusItem{ float:left; _display:inline;}

.demoF .focusItem{ display:none; position:absolute; top:0; left:0; }

.demoG .focusItem{ display:none; position:absolute; top:0; left:0; }
.demoG .focusIndicators{ height:58px;}
.demoG .focusIndicators a{ width:13.9%; height:58px;  border:2px solid #000;  color:#fff; font-size:15px;}
.demoG .focusIndicators .current{ border:2px solid #FFF;}

.demoJ .focusItem{ float:left; _display:inline;}
.demoJ .focusIndicators{ height:42px;}
.demoJ .focusIndicators a{ width:60px; height:40px; margin:0 2px; border:1px solid #000; }
.demoJ .focusIndicators .current{ border:1px solid #FFF;}

.demoK .focusArea{ width:190px; height:390px; margin:0 auto;}
.demoK .focusItem{ width:186px; height:126px; margin:0;}
.demoK .focusCon{ width:190px;}
.demoK .focusCon .title{ width:186px;}
