
.signup-div{box-shadow:0 0 4px #ccc;
	background-color:#fff;
	color:#989898;
	margin-top:20px;
}

.signp-head h2{font-family: 'Open Sans Semibold';
	text-align:center;
}

.signp-head span{background-color:#eb5467;
	height:2px;
	width:40px;
	padding:2px;
	display:table;
	margin:0 auto;
}

.sign-bg{top:-6px;
}

.sign-bg img{width:100%;
}

.sign-input{
    height: 46px;
    padding: 10px 20px;
	color: #989898;
}

.signup-contant{padding:35px 60px 0;
}

.form-group{margin-bottom:20px;
}

.chosen-container-single .chosen-single{
    height: 46px !important;
    padding: 10px 20px !important;
}

.chosen-container-single .chosen-single div{right: 8px !important;
    top: 11px !important;
}

.chosen-container{width:100% !important;
}

.subscribe_button{padding:6px 35px;
}

.help-block{padding:15px 0;
}


.form-control::-webkit-input-placeholder {
   color:#989898 !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color:#989898 !important;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color:#989898 !important; 
}

.form-control:-ms-input-placeholder {  
   color:#989898 !important; 
}

.signup-modle{width:60%;
}

.sighup-header{position:absolute;
	top:-10px;
	z-index:999;
	border:none;
	right: -10px;
    top: 8px;
}

.sighup-header .close-btn{opacity:1;
	width:35px
}

.sighup-header .close-btn img{width:100%;
}

.signin-modle{
}


/* Smartphones  ----------- */
@media only screen 
and (max-width : 640px) {
	.signup-modle{width:95% !important;}
	.signup-contant {padding: 15px 0;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen  
and (max-device-width : 1024px) {
	.signup-modle{width:80%;}
}



/*****************************responsive media query css****************************************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 360px) and (max-width : 640px) {

/* Styles */
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/********************************end of responsive media query************************************************/